In [1]:
%reload_ext autoreload
%autoreload 2
%matplotlib inline

In [18]:
import json

import numpy as np
import pandas as pd

In [3]:
%cd ../..

C:\Projects\python\recommender

## Handle Menu Dataframe

In [7]:
menu_df = pd.read_json("./inputs/codechef/ccmenu.json")
menu_df

,code,end,name,start
0,SGHC2019,2019-09-23T22:00:00+05:30,Samsung Hiring Challenge,2019-09-13T19:00:00+05:30
1,INOIPRAC,2020-01-05T00:00:00+05:30,INOI Practice Contest,2016-01-05T00:00:00+05:30
2,ZCOPRAC,2020-01-05T00:00:00+05:30,ZCO Practice Contest,2015-11-05T00:00:00+05:30
3,COOK110,2019-09-23T00:00:00+05:30,September Mega Cook-Off 2019,2019-09-22T21:30:00+05:30
4,LTIME76,2019-09-28T22:30:00+05:30,September Lunchtime 2019,2019-09-28T19:30:00+05:30
5,OCT19,2019-10-14T15:00:00+05:30,October Challenge 2019,2019-10-04T15:00:00+05:30
6,UEM22019,2019-11-02T23:30:00+05:30,UEM CODESTORM 2.0,2019-11-02T20:30:00+05:30
7,BIT22019,2019-09-20T23:30:00+05:30,Biteration #2 (Rated for Division 2),2019-09-20T21:00:00+05:30
8,CCWI2019,2019-09-18T21:00:00+05:30,Clash Credenz 2019 Wildcard,2019-09-18T19:00:00+05:30
9,SEPT19,2019-09-16T15:00:00+05:30,September Challenge 2019,2019-09-06T15:00:00+05:30
10,AIOL2019,2019-09-08T08:00:00+05:30,IEM AI Olympiad,2019-09-07T20:00:00+05:30
11,COZI2019,2019-09-08T00:00:00+05:30,CODEZILLA,2019-09-07T21:00:00+05:30
12,INQU2019,2019-09-07T01:00:00+05:30,Insomnia Qualifier 2019,2019-09-06T21:30:00+05:30
13,ALCM2019,2019-09-02T00:00:00+05:30,ALCoding Club,2019-09-01T21:00:00+05:30
14,LTIME75,2019-08-31T23:00:00+05:30,August Lunchtime 2019,2019-08-31T20:00:00+05:30
15,COHA2019,2019-08-31T12:30:00+05:30,CodeHard,2019-08-31T10:30:00+05:30
16,CYAU2019,2019-08-25T00:00:00+05:30,Cypher August,2019-08-24T21:00:00+05:30
17,ENAU2019,2019-08-24T22:30:00+05:30,Encoding Aug'19,2019-08-24T19:30:00+05:30
18,COOK109,2019-08-19T00:00:00+05:30,August Cook-Off 2019,2019-08-18T21:30:00+05:30
19,DEER2019,2019-08-18T08:00:00+05:30,DeCipher,2019-08-17T20:00:00+05:30
20,PCJ2019,2019-08-17T21:30:00+05:30,ProCon Junior,2019-08-17T18:30:00+05:30
21,JCWR2019,2019-08-15T23:10:00+05:30,Just Coding Wildcard Round,2019-08-15T21:00:00+05:30
22,AUG19,2019-08-12T15:00:00+05:30,August Challenge 2019,2019-08-02T15:00:00+05:30
23,KPM32019,2019-08-04T21:30:00+05:30,Ketek[i] Power Match 3,2019-08-04T20:00:00+05:30
24,LTIME74,2019-07-27T22:30:00+05:30,July Lunchtime 2019 (Unrated for Division-1),2019-07-27T19:30:00+05:30
25,COOK108,2019-07-22T00:00:00+05:30,July Cook-Off 2019,2019-07-21T21:30:00+05:30
26,KPM22019,2019-07-20T22:00:00+05:30,Keteki PowerMatch 2,2019-07-20T20:00:00+05:30
27,JULY19,2019-07-15T15:00:00+05:30,July Challenge 2019,2019-07-05T15:00:00+05:30
28,KQ162019,2019-06-30T21:00:00+05:30,Keteki Power Match,2019-06-30T20:00:00+05:30
29,LTIME73,2019-06-29T22:30:00+05:30,June Lunchtime 2019,2019-06-29T19:30:00+05:30
...,...,...,...,...
1083,QCJAM10,2010-01-31T19:45:00+05:30,Quark 2010,2010-01-31T14:00:00+05:30
1084,SNONLINE,2010-01-25T02:30:00+05:30,Online Team Contest,2010-01-24T21:30:00+05:30
1085,TV10CAT3,2010-01-25T00:30:00+05:30,Technovanza,2010-01-24T22:00:00+05:30
1086,ENC2010,2010-01-24T22:00:00+05:30,Encoder 2010,2010-01-24T14:00:00+05:30
1087,TV10CAT2,2010-01-17T23:00:00+05:30,Technovanza,2010-01-17T21:00:00+05:30
1088,JAN10,2010-01-15T15:00:00+05:30,January 2010 (Contest XII),2010-01-01T15:00:00+05:30
1089,TV10CAT1,2010-01-13T23:00:00+05:30,Technovanza 2010 Round 1,2010-01-13T21:00:00+05:30
1090,SNONSITE,2010-01-10T15:45:00+05:30,Snackdown Onsite Final,2010-01-10T11:45:00+05:30
1091,RESNKDWN,2009-12-20T19:00:00+05:30,Codechef Campus ReSnackdown,2009-12-20T16:00:00+05:30
1092,RESNKTST,2009-12-17T21:00:00+05:30,Resnackdown Practice Run,2009-12-17T19:45:00+05:30
1093,DEC09,2009-12-11T15:00:00+05:30,December 2009 (Contest XI),2009-12-01T15:00:00+05:30
1094,SNACKDWN,2009-11-22T00:00:00+05:30,Codechef Campus Snackdown,2009-11-21T19:00:00+05:30
1095,SNACKTST,2009-11-19T22:00:00+05:30,Snackdown Test,2009-11-19T20:00:00+05:30
1096,NOV09,2009-11-11T15:00:00+05:30,November 2009 (Contest X),2009-11-01T15:00:00+05:30
1097,CB109,2009-10-28T18:00:00+05:30,Code Baker,2009-10-27T18:00:00+05:30
1098,KNCO209,2009-10-25T21:00:00+05:30,Knight Coders Round 2,2009-10-24T21:00:00+05:30
1099,INS09,2009-10-25T19:30:00+05:30,Inscription 2009,2009-10-25T14:30:00+05:30
1100,OCT09,2009-10-11T15:00:00+05:30,October 2009 (Contest IX),2009-10-01T15:00:00+05:30
1101,NSIT091,2009-10-11T00:00:00+05:30,NSIT Contest 1,2009-10-10T00:00:00+05:30
1102,SEP09,2009-09-11T15:00:00+05:30,September 2009 (Contest VIII),2009-09-01T15:00:00+05:30
1103,AUGMINI,2009-08-24T15:00:00+05:30,August Mini Challenge 2009 (Contest VII),2009-08-22T15:00:00+05:30
1104,AUG09,2009-08-11T15:00:00+05:30,August 2009 (Contest VI),2009-08-01T15:00:00+05:30
1105,JULY09,2009-07-13T15:00:00+05:30,July 2009 (Contest V),2009-07-01T15:00:00+05:30
1106,MAYGAMER,2009-06-15T00:00:00+05:30,May Gamers Challenge,2009-05-15T00:00:00+05:30
1107,JUNE09,2009-06-11T15:00:00+05:30,June 2009 (Contest IV),2009-06-01T15:00:00+05:30
1108,MAY09,2009-05-11T15:00:00+05:30,May 2009 (Contest III),2009-05-01T15:00:00+05:30
1109,APRIL09,2009-04-15T15:00:00+05:30,April 2009 (Contest II),2009-04-01T15:00:00+05:30
1110,INSOM2,2009-03-22T09:00:00+05:30,IIT Roorkee Insomnia - Thought Round,2009-03-21T21:00:00+05:30
1111,INSOM1,2009-03-20T20:00:00+05:30,IIT Roorkee Insomnia - Speed Round,2009-03-20T16:00:00+05:30
1112,MARCH09,2009-03-15T00:00:00+05:30,March 2009 (Contest I),2009-02-28T22:00:00+05:30

In [8]:
# change data type
str_cols = ['code', 'name']
time_cols = ['start', 'end']
cols = ['code', 'name', 'start', 'end']

In [9]:
menu_df = menu_df[cols]
menu_df.head()

,code,name,start,end
0,SGHC2019,Samsung Hiring Challenge,2019-09-13T19:00:00+05:30,2019-09-23T22:00:00+05:30
1,INOIPRAC,INOI Practice Contest,2016-01-05T00:00:00+05:30,2020-01-05T00:00:00+05:30
2,ZCOPRAC,ZCO Practice Contest,2015-11-05T00:00:00+05:30,2020-01-05T00:00:00+05:30
3,COOK110,September Mega Cook-Off 2019,2019-09-22T21:30:00+05:30,2019-09-23T00:00:00+05:30
4,LTIME76,September Lunchtime 2019,2019-09-28T19:30:00+05:30,2019-09-28T22:30:00+05:30

In [14]:
# change datetime cols
menu_df['start'] = menu_df['start'].str[:10]
menu_df['end'] = menu_df['end'].str[:10]
menu_df.head()

       code                          name       start         end
0  SGHC2019      Samsung Hiring Challenge  2019-09-13  2019-09-23
1  INOIPRAC         INOI Practice Contest  2016-01-05  2020-01-05
2   ZCOPRAC          ZCO Practice Contest  2015-11-05  2020-01-05
3   COOK110  September Mega Cook-Off 2019  2019-09-22  2019-09-23
4   LTIME76      September Lunchtime 2019  2019-09-28  2019-09-28

In [17]:
menu_df['start'] = pd.to_datetime(menu_df['start'], infer_datetime_format=True)
menu_df['end'] = pd.to_datetime(menu_df['end'], infer_datetime_format=True)
menu_df.dtypes

code             object
name             object
start    datetime64[ns]
end      datetime64[ns]
dtype: object

## Handle Context DataFrame

In [19]:
with open("./inputs/codechef/cccontext.json", mode='r', encoding='utf8') as fp:
    data = json.load(fp)

In [22]:
cts = []

for item in data:
    competiters = item['competiters']
    if len(competiters) == 0:
        continue
    for person in competiters.values():
        cts.append({
            'contest': item['code'],
            'user': person['code'],
            'type': person['type'],
            'submissions': person['successful_submissions'],
            'accuracy': person['accuracy'],
            'category': person['category_name']
        })
        
cts[:10]

[{'contest': 'INTL2019',
  'user': 'FAKEBIN',
  'type': '0',
  'submissions': '293',
  'accuracy': 35.3,
  'category': 'main'},
 {'contest': 'INTL2019',
  'user': 'TRAIERR',
  'type': '0',
  'submissions': '15',
  'accuracy': 35.29,
  'category': 'main'},
 {'contest': 'INTL2019',
  'user': 'PRIMESET',
  'type': '0',
  'submissions': '66',
  'accuracy': 9.55,
  'category': 'main'},
 {'contest': 'INTL2019',
  'user': 'CHFEDR',
  'type': '0',
  'submissions': '32',
  'accuracy': 18.5,
  'category': 'main'},
 {'contest': 'INTL2019',
  'user': 'CHEFDR',
  'type': '0',
  'submissions': '162',
  'accuracy': 22.16,
  'category': 'main'},
 {'contest': 'INTL2019',
  'user': 'CHEFJOU',
  'type': '0',
  'submissions': '26',
  'accuracy': 25,
  'category': 'main'},
 {'contest': 'DRI22019',
  'user': 'GOODBAD2',
  'type': '0',
  'submissions': '21',
  'accuracy': 11.93,
  'category': 'main'},
 {'contest': 'DRI22019',
  'user': 'NFAR',
  'type': '0',
  'submissions': '14',
  'accuracy': 32.56,
  'category': 'main'},
 {'contest': 'DRI22019',
  'user': 'LIT13',
  'type': '0',
  'submissions': '18',
  'accuracy': 4.84,
  'category': 'main'},
 {'contest': 'DRI22019',
  'user': 'ZMAGIC',
  'type': '0',
  'submissions': '30',
  'accuracy': 16.85,
  'category': 'main'}]

In [23]:
len(cts)

6644

In [24]:
contest_df = pd.DataFrame(cts)
contest_df.head()

   accuracy category   contest submissions type      user
0     35.30     main  INTL2019         293    0   FAKEBIN
1     35.29     main  INTL2019          15    0   TRAIERR
2      9.55     main  INTL2019          66    0  PRIMESET
3     18.50     main  INTL2019          32    0    CHFEDR
4     22.16     main  INTL2019         162    0    CHEFDR

In [25]:
contest_df.columns

Index(['accuracy', 'category', 'contest', 'submissions', 'type', 'user'], dtype='object')

In [26]:
contest_df = contest_df[[
    'contest', 'user', 'accuracy', 'category', 'submissions', 'type'
]]
contest_df.head()

    contest      user  accuracy category submissions type
0  INTL2019   FAKEBIN     35.30     main         293    0
1  INTL2019   TRAIERR     35.29     main          15    0
2  INTL2019  PRIMESET      9.55     main          66    0
3  INTL2019    CHFEDR     18.50     main          32    0
4  INTL2019    CHEFDR     22.16     main         162    0

In [27]:
menu_df = menu_df[['code', 'start']]
menu_df.head()

       code      start
0  SGHC2019 2019-09-13
1  INOIPRAC 2016-01-05
2   ZCOPRAC 2015-11-05
3   COOK110 2019-09-22
4   LTIME76 2019-09-28

In [29]:
item_df = pd.merge(left=contest_df,
                   right=menu_df,
                   left_on='contest',
                   right_on='code',
                   how='inner')
item_df.head()

    contest      user  accuracy category submissions type      code      start
0  INTL2019   FAKEBIN     35.30     main         293    0  INTL2019 2019-04-19
1  INTL2019   TRAIERR     35.29     main          15    0  INTL2019 2019-04-19
2  INTL2019  PRIMESET      9.55     main          66    0  INTL2019 2019-04-19
3  INTL2019    CHFEDR     18.50     main          32    0  INTL2019 2019-04-19
4  INTL2019    CHEFDR     22.16     main         162    0  INTL2019 2019-04-19

In [30]:
item_df.columns

Index(['contest', 'user', 'accuracy', 'category', 'submissions', 'type',
       'code', 'start'],
      dtype='object')

In [31]:
item_df = item_df[[
    'contest', 'user', 'start', 'accuracy', 'category', 'submissions', 'type'
]]
item_df.head()

    contest      user      start  accuracy category submissions type
0  INTL2019   FAKEBIN 2019-04-19     35.30     main         293    0
1  INTL2019   TRAIERR 2019-04-19     35.29     main          15    0
2  INTL2019  PRIMESET 2019-04-19      9.55     main          66    0
3  INTL2019    CHFEDR 2019-04-19     18.50     main          32    0
4  INTL2019    CHEFDR 2019-04-19     22.16     main         162    0

In [32]:
item_df.isna().any()

contest        False
user           False
start          False
accuracy       False
category       False
submissions    False
type           False
dtype: bool

In [33]:
item_df.dtypes

contest                object
user                   object
start          datetime64[ns]
accuracy              float64
category               object
submissions            object
type                   object
dtype: object

In [34]:
item_df['submissions'] = item_df['submissions'].astype('int64')
item_df.dtypes

contest                object
user                   object
start          datetime64[ns]
accuracy              float64
category               object
submissions             int64
type                   object
dtype: object

In [35]:
# Save result
item_df.to_csv("./inputs/codechef/item.csv", index=False)

## Preprocessing dataframe

In [36]:
item_df = pd.read_csv("./inputs/codechef/item.csv")
item_df.head()

    contest      user       start  accuracy category  submissions  type
0  INTL2019   FAKEBIN  2019-04-19     35.30     main          293     0
1  INTL2019   TRAIERR  2019-04-19     35.29     main           15     0
2  INTL2019  PRIMESET  2019-04-19      9.55     main           66     0
3  INTL2019    CHFEDR  2019-04-19     18.50     main           32     0
4  INTL2019    CHEFDR  2019-04-19     22.16     main          162     0

In [37]:
item_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6644 entries, 0 to 6643
Data columns (total 7 columns):
contest        6644 non-null object
user           6644 non-null object
start          6644 non-null object
accuracy       6644 non-null float64
category       6644 non-null object
submissions    6644 non-null int64
type           6644 non-null int64
dtypes: float64(1), int64(2), object(4)
memory usage: 363.4+ KB

In [38]:
item_df['start'] = pd.to_datetime(item_df['start'], infer_datetime_format=True)
item_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6644 entries, 0 to 6643
Data columns (total 7 columns):
contest        6644 non-null object
user           6644 non-null object
start          6644 non-null datetime64[ns]
accuracy       6644 non-null float64
category       6644 non-null object
submissions    6644 non-null int64
type           6644 non-null int64
dtypes: datetime64[ns](1), float64(1), int64(2), object(3)
memory usage: 363.4+ KB

In [39]:
print(f"Original dataframe shape {item_df.shape}")

Original dataframe shape (6644, 7)

In [43]:
user_counts = item_df['user'].value_counts()
user_counts.head()

CHN15E      3
KOL15A      3
ACM14AM5    3
ACM14AM2    3
AMR15A      3
Name: user, dtype: int64

In [44]:
print(f"User size {user_counts.size}")

User size 6244

In [42]:
user_counts = user_counts[user_counts >= 4]
print(f"Filtered user size {user_counts.size}")

Filtered user size 0

In [46]:
user_counts.sort_values(ascending=True).head()

GRGUY       1
SEAARASU    1
CHCINEMA    1
PAINTBOX    1
INF16L      1
Name: user, dtype: int64