In [1]:
%reload_ext autoreload
%autoreload 2
%matplotlib inline

In [2]:
# Go to root directory
%cd ../..

C:\Projects\python\recommender

In [3]:
import json

import numpy as np
import pandas as pd

In [4]:
comp_df = pd.read_json("./inputs/kaggle/competitions.json")
comp_df.head()

,competitionId,competitionName,competitionTitle,deadline,rewardQuantity,totalTeams,rewardTypeName
0,14774,aptos2019-blindness-detection,APTOS 2019 Blindness Detection,2019-09-07T23:59:00Z,50000.0,2943,USD
1,15447,ciphertext-challenge-iii,Ciphertext Challenge III,2019-09-05T23:59:00Z,0.0,103,Swag
2,14652,siim-acr-pneumothorax-segmentation,SIIM-ACR Pneumothorax Segmentation,2019-09-04T23:59:00Z,30000.0,1475,USD
3,14313,champs-scalar-coupling,Predicting Molecular Properties,2019-08-28T23:59:00Z,30000.0,2749,USD
4,15062,generative-dog-images,Generative Dog Images,2019-08-28T19:23:00Z,10000.0,927,USD

In [18]:
leaderboard = []
with open("./inputs/kaggle/leaderboard.json", mode='r', encoding='utf8') as fp:
    leaderboard = json.load(fp)

### Generate team dataframe

In [20]:
comp_team_pair = []

for item in leaderboard:
    comp_id = item['competitionId']
    for team in item['public']:
        team_id = team['teamId']
        members = len(team['members'])
        rank = team['rank']
        entries = team['entries']
        score = team['score']

        comp_team_pair.append({
            'competitonId': comp_id,
            'teamId': team_id,
            'members': members,
            'rank': rank,
            'entries': entries,
            'score': score
        })

    for team in item['private']:
        team_id = team['teamId']
        members = len(team['members'])
        rank = team['rank']
        entries = team['entries']
        score = team['score']

        comp_team_pair.append({
            'competitonId': comp_id,
            'teamId': team_id,
            'members': members,
            'rank': rank,
            'entries': entries,
            'score': score
        })
            
comp_team_pair[:5]

[{'competitonId': 14774,
  'teamId': 3341991,
  'members': 2,
  'rank': 1,
  'entries': 176,
  'score': '0.856139'},
 {'competitonId': 14774,
  'teamId': 3374221,
  'members': 5,
  'rank': 2,
  'entries': 332,
  'score': '0.855232'},
 {'competitonId': 14774,
  'teamId': 3353277,
  'members': 3,
  'rank': 3,
  'entries': 203,
  'score': '0.850749'},
 {'competitonId': 14774,
  'teamId': 3339442,
  'members': 1,
  'rank': 4,
  'entries': 118,
  'score': '0.850352'},
 {'competitonId': 14774,
  'teamId': 3459925,
  'members': 3,
  'rank': 5,
  'entries': 321,
  'score': '0.850220'}]

In [21]:
team_df = pd.DataFrame(comp_team_pair)
team_df.head()

   competitonId  entries  members  rank     score   teamId
0         14774      176        2   1.0  0.856139  3341991
1         14774      332        5   2.0  0.855232  3374221
2         14774      203        3   3.0  0.850749  3353277
3         14774      118        1   4.0  0.850352  3339442
4         14774      321        3   5.0  0.850220  3459925

In [25]:
# Save team dataframe
team_df.to_csv("./inputs/kaggle/team.csv", index=False)

### Generate person dataframe

In [30]:
comp_person_pair = []

for item in leaderboard:
    comp_id = item['competitionId']
    for team in item['public']:
        team_id = team['teamId']
        rank = team['rank']
        entries = team['entries']
        score = team['score']
        
        for m in team['members']:
            comp_person_pair.append({
                'competitonId': comp_id,
                'teamId': team_id,
                'name': m['profileUrl'],
                'tier': m['tier'],
                'rank': rank,
                'entries': entries,
                'score': score
            })
    for team in item['private']:
        team_id = team['teamId']
        rank = team['rank']
        entries = team['entries']
        score = team['score']
        
        for m in team['members']:
            comp_person_pair.append({
                'competitonId': comp_id,
                'teamId': team_id,
                'name': m['profileUrl'],
                'tier': m['tier'],
                'rank': rank,
                'entries': entries,
                'score': score
            })
            
comp_person_pair[:5]

[{'competitonId': 14774,
  'teamId': 3341991,
  'name': 'victorsd',
  'tier': 'grandmaster',
  'rank': 1,
  'entries': 176,
  'score': '0.856139'},
 {'competitonId': 14774,
  'teamId': 3341991,
  'name': 'selimsef',
  'tier': 'master',
  'rank': 1,
  'entries': 176,
  'score': '0.856139'},
 {'competitonId': 14774,
  'teamId': 3374221,
  'name': 'mathormad',
  'tier': 'master',
  'rank': 2,
  'entries': 332,
  'score': '0.855232'},
 {'competitonId': 14774,
  'teamId': 3374221,
  'name': 'ratthachat',
  'tier': 'expert',
  'rank': 2,
  'entries': 332,
  'score': '0.855232'},
 {'competitonId': 14774,
  'teamId': 3374221,
  'name': 'prasertsak',
  'tier': 'expert',
  'rank': 2,
  'entries': 332,
  'score': '0.855232'}]

In [31]:
person_df = pd.DataFrame(data=comp_person_pair)
person_df.head()

   competitonId  entries        name  rank     score   teamId         tier
0         14774      176    victorsd   1.0  0.856139  3341991  grandmaster
1         14774      176    selimsef   1.0  0.856139  3341991       master
2         14774      332   mathormad   2.0  0.855232  3374221       master
3         14774      332  ratthachat   2.0  0.855232  3374221       expert
4         14774      332  prasertsak   2.0  0.855232  3374221       expert

In [32]:
person_df.to_csv('./inputs/kaggle/person.csv', index=False)

### Overview team dataframe

In [26]:
team_counts = team_df.teamId.value_counts()
team_counts.head()

3238511    4
3249165    4
3132230    4
3036021    4
2272362    4
Name: teamId, dtype: int64

In [27]:
team_counts.sort_values().head()

55928     2
119769    2
111573    2
113620    2
99283     2
Name: teamId, dtype: int64

In [29]:
team_counts.size

281794

In [28]:
team_counts[team_counts >= 4].size

21832

### Overview person dataframe

In [5]:
person_df = pd.read_csv("./inputs/kaggle/person.csv")
person_df.head()

   competitionId  entries        name  rank     score   teamId         tier
0          14774      176    victorsd   1.0  0.856139  3341991  grandmaster
1          14774      176    selimsef   1.0  0.856139  3341991       master
2          14774      332   mathormad   2.0  0.855232  3374221       master
3          14774      332  ratthachat   2.0  0.855232  3374221       expert
4          14774      332  prasertsak   2.0  0.855232  3374221       expert

In [6]:
person_df['score'].isna().any()

False

In [7]:
person_df['score'] = person_df['score'].fillna(0)
person_df['score'].isna().any()

False

In [8]:
person_df['score'] = person_df['score'].astype('float64')
person_df.head()

   competitionId  entries        name  rank     score   teamId         tier
0          14774      176    victorsd   1.0  0.856139  3341991  grandmaster
1          14774      176    selimsef   1.0  0.856139  3341991       master
2          14774      332   mathormad   2.0  0.855232  3374221       master
3          14774      332  ratthachat   2.0  0.855232  3374221       expert
4          14774      332  prasertsak   2.0  0.855232  3374221       expert

In [9]:
person_df[person_df['rank'].isna()].shape

(844, 7)

In [10]:
person_df.shape

(693084, 7)

In [13]:
# Get competition dataframe part information
com_part = comp_df[['competitionId', 'deadline', 'rewardQuantity']]
com_part.head()

   competitionId              deadline  rewardQuantity
0          14774  2019-09-07T23:59:00Z         50000.0
1          15447  2019-09-05T23:59:00Z             0.0
2          14652  2019-09-04T23:59:00Z         30000.0
3          14313  2019-08-28T23:59:00Z         30000.0
4          15062  2019-08-28T19:23:00Z         10000.0

In [14]:
com_part.columns

Index(['competitionId', 'deadline', 'rewardQuantity'], dtype='object')

### Generate item dataframe and preprocess

Preprocessing contains following operations:

- fill score nan value to 0
- remove duplicate competitionId and name row

In [15]:
item_df = pd.merge(left=com_part, right=person_df, how='inner', on='competitionId')
item_df.head()

,competitionId,deadline,rewardQuantity,entries,name,rank,score,teamId,tier
0,14774,2019-09-07T23:59:00Z,50000.0,176,victorsd,1.0,0.856139,3341991,grandmaster
1,14774,2019-09-07T23:59:00Z,50000.0,176,selimsef,1.0,0.856139,3341991,master
2,14774,2019-09-07T23:59:00Z,50000.0,332,mathormad,2.0,0.855232,3374221,master
3,14774,2019-09-07T23:59:00Z,50000.0,332,ratthachat,2.0,0.855232,3374221,expert
4,14774,2019-09-07T23:59:00Z,50000.0,332,prasertsak,2.0,0.855232,3374221,expert

#### Remove duplicated data

In [16]:
item_df = item_df.sort_values(by=['name', 'competitionId'])
item_df.head()

,competitionId,deadline,rewardQuantity,entries,name,rank,score,teamId,tier
472250,6392,2017-06-29T23:59:00Z,25000.0,20,Atishj,1813.0,0.32326,649770,novice
475968,6392,2017-06-29T23:59:00Z,25000.0,20,Atishj,1862.0,0.32624,649770,novice
589489,4852,2016-04-18T23:59:00Z,30000.0,3,CVxTz,1778.0,0.46338,275941,expert
592747,4852,2016-04-18T23:59:00Z,30000.0,3,CVxTz,1753.0,0.46184,275941,expert
554000,5174,2016-07-11T23:59:00Z,20000.0,56,CVxTz,34.0,0.93153,331480,expert

In [17]:
item_dup_mask = item_df.duplicated(subset=['name', 'competitionId'], keep='first')
item_dup_mask.head()

472250    False
475968     True
589489    False
592747     True
554000    False
dtype: bool

In [18]:
item_df = item_df[item_dup_mask]
item_df.head()

,competitionId,deadline,rewardQuantity,entries,name,rank,score,teamId,tier
475968,6392,2017-06-29T23:59:00Z,25000.0,20,Atishj,1862.0,0.32624,649770,novice
592747,4852,2016-04-18T23:59:00Z,30000.0,3,CVxTz,1753.0,0.46184,275941,expert
554627,5174,2016-07-11T23:59:00Z,20000.0,56,CVxTz,34.0,0.93114,331480,expert
534581,5261,2016-09-19T23:59:00Z,50000.0,14,CVxTz,389.0,0.99168,366212,expert
521892,5325,2016-12-12T23:59:00Z,1.0,89,CVxTz,27.0,1112.12520,391400,expert

In [19]:
item_df['deadline'] = pd.to_datetime(item_df['deadline'], infer_datetime_format=True)
item_df.dtypes

competitionId                   int64
deadline          datetime64[ns, UTC]
rewardQuantity                float64
entries                         int64
name                           object
rank                          float64
score                         float64
teamId                          int64
tier                           object
dtype: object

In [20]:
### Change columns order
item_df = item_df[[
    'name', 'competitionId', 'deadline', 'entries', 'rank', 'score',
    'rewardQuantity', 'teamId', 'tier'
]]
item_df.head()

,name,competitionId,deadline,entries,rank,score,rewardQuantity,teamId,tier
475968,Atishj,6392,2017-06-29 23:59:00+00:00,20,1862.0,0.32624,25000.0,649770,novice
592747,CVxTz,4852,2016-04-18 23:59:00+00:00,3,1753.0,0.46184,30000.0,275941,expert
554627,CVxTz,5174,2016-07-11 23:59:00+00:00,56,34.0,0.93114,20000.0,331480,expert
534581,CVxTz,5261,2016-09-19 23:59:00+00:00,14,389.0,0.99168,50000.0,366212,expert
521892,CVxTz,5325,2016-12-12 23:59:00+00:00,89,27.0,1112.12520,1.0,391400,expert

In [45]:
item_df['deadline'] = item_df['deadline'].str[:10]
item_df.head()

,name,competitionId,deadline,rank,score,rewardQuantity,tier
0,Atishj,6392,2017-06-29,1862.0,0.32624,25000.0,novice
1,CVxTz,4852,2016-04-18,1753.0,0.46184,30000.0,expert
2,CVxTz,5174,2016-07-11,34.0,0.93114,20000.0,expert
3,CVxTz,5261,2016-09-19,389.0,0.99168,50000.0,expert
4,CVxTz,5325,2016-12-12,27.0,1112.12520,1.0,expert

In [46]:
item_df.to_csv("./inputs/kaggle/item.csv", index=False)

## DataFrame preprocessing

In [4]:
import pandas as pd

In [5]:
item_df = pd.read_csv("./inputs/kaggle/item.csv")
item_df.head()

,name,competitionId,deadline,rank,score,rewardQuantity,tier
0,Atishj,6392,2017-06-29,1862.0,0.32624,25000.0,novice
1,CVxTz,4852,2016-04-18,1753.0,0.46184,30000.0,expert
2,CVxTz,5174,2016-07-11,34.0,0.93114,20000.0,expert
3,CVxTz,5261,2016-09-19,389.0,0.99168,50000.0,expert
4,CVxTz,5325,2016-12-12,27.0,1112.12520,1.0,expert

In [6]:
item_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 476244 entries, 0 to 476243
Data columns (total 7 columns):
name              476244 non-null object
competitionId     476244 non-null int64
deadline          476244 non-null object
rank              475615 non-null float64
score             476244 non-null float64
rewardQuantity    430559 non-null float64
tier              476244 non-null object
dtypes: float64(3), int64(1), object(3)
memory usage: 25.4+ MB

In [7]:
item_df.sort_values(by=['deadline']).head()

,name,competitionId,deadline,rank,score,rewardQuantity,tier
391558,stevenevangelista,2408,2010-05-25,20.0,3648.0,1000.0,contributor
421514,tuncyilmaz,2408,2010-05-25,5.0,2492.0,1000.0,contributor
123525,emreaydogdu,2408,2010-05-25,9.0,2714.0,1000.0,contributor
146240,gizem863,2408,2010-05-25,16.0,2950.0,1000.0,contributor
146239,gizem1,2408,2010-05-25,5.0,2492.0,1000.0,contributor

In [8]:
item_df.sort_values(by=['deadline']).tail()

,name,competitionId,deadline,rank,score,rewardQuantity,tier
165305,hofmafr,14774,2019-09-07,760.0,0.910538,50000.0,contributor
165306,hofmafr,14774,2019-09-07,361.0,0.800225,50000.0,contributor
165307,hofmafr,14774,2019-09-07,760.0,0.910538,50000.0,contributor
59212,bouille,14774,2019-09-07,2270.0,0.647108,50000.0,novice
79760,codeworm,14774,2019-09-07,2938.0,-0.037545,50000.0,novice

In [9]:
item_df.name.value_counts()

mathurinache     267
lucamassaron     239
kazanova         224
tunguz           216
abhishek         209
                ...
ibon2982           1
mazukta26          1
jbialogrodzki      1
vgcodes            1
acehack            1
Name: name, Length: 151522, dtype: int64

In [10]:
item_df.competitionId.value_counts()

11000    38227
14774    24654
14313    23149
12500    21987
14239    14203
         ...
2549        29
2408        25
3077        20
3194        18
3525         7
Name: competitionId, Length: 326, dtype: int64

In [78]:
item_df = item_df[[
    'name', 'competitionId', 'deadline', 'rank', 'score', 'rewardQuantity',
    'tier'
]]
item_df.head()

,name,competitionId,deadline,rank,score,rewardQuantity,tier
0,Atishj,6392,2017-06-29,1862.0,0.32624,25000.0,novice
1,CVxTz,4852,2016-04-18,1753.0,0.46184,30000.0,expert
2,CVxTz,5174,2016-07-11,34.0,0.93114,20000.0,expert
3,CVxTz,5261,2016-09-19,389.0,0.99168,50000.0,expert
4,CVxTz,5325,2016-12-12,27.0,1112.12520,1.0,expert

In [79]:
item_df['period'] = item_df['deadline'].str[:7]
item_df.head()

,name,competitionId,deadline,rank,score,rewardQuantity,tier,period
0,Atishj,6392,2017-06-29,1862.0,0.32624,25000.0,novice,2017-06
1,CVxTz,4852,2016-04-18,1753.0,0.46184,30000.0,expert,2016-04
2,CVxTz,5174,2016-07-11,34.0,0.93114,20000.0,expert,2016-07
3,CVxTz,5261,2016-09-19,389.0,0.99168,50000.0,expert,2016-09
4,CVxTz,5325,2016-12-12,27.0,1112.12520,1.0,expert,2016-12

In [82]:
item_df['deadline'] = pd.to_datetime(item_df['deadline'])
item_df.dtypes

name                      object
competitionId              int64
deadline          datetime64[ns]
rank                     float64
score                    float64
rewardQuantity           float64
tier                      object
period                    object
dtype: object

In [83]:
item_df[item_df['score'] == np.inf] = 0

In [84]:
str_cols = ['name', 'tier']
item_df[str_cols] = item_df[str_cols].astype('str')
item_df.dtypes

name               object
competitionId       int64
deadline           object
rank              float64
score             float64
rewardQuantity    float64
tier               object
period             object
dtype: object

In [85]:
item_df.isna().any()

name              False
competitionId     False
deadline          False
rank               True
score             False
rewardQuantity     True
tier              False
period            False
dtype: bool

In [86]:
item_df['rewardQuantity'] = item_df['rewardQuantity'].where(~item_df['rewardQuantity'].isna(), 0)

In [87]:
item_df.isna().any()

name              False
competitionId     False
deadline          False
rank               True
score             False
rewardQuantity    False
tier              False
period            False
dtype: bool

In [88]:
print(f"Previous item shape {item_df.shape}")

Previous item shape (476244, 8)

In [89]:
item_df = item_df.dropna()
print(f"Drop nan value shape: {item_df.shape}")

Drop nan value shape: (475615, 8)

In [90]:
comp_counts = item_df['competitionId'].value_counts()
name_counts = item_df['name'].value_counts()

print(f"competition number {comp_counts.size}")
print(f"competitor  number {name_counts.size}")

competition number 327
competitor  number 151505

In [91]:
comp_counts.sort_values().head()

0        1
3525     7
3194    13
3077    15
2408    25
Name: competitionId, dtype: int64

In [92]:
name_counts = name_counts[name_counts>=4]
print(f"filter competitor number {name_counts.size}")

filter competitor number 30870

In [93]:
item_df = item_df[item_df['name'].isin(name_counts.index)]
item_df.shape

(319867, 8)

In [94]:
comp_cols = ['competitionId', 'rewardQuantity', 'period']
comp_df = item_df[comp_cols]
comp_df.head()

   competitionId  rewardQuantity   period
1           4852         30000.0  2016-04
2           5174         20000.0  2016-07
3           5261         50000.0  2016-09
4           5325             1.0  2016-12
5           5340         25000.0  2016-09

In [95]:
comp_df = comp_df.drop_duplicates(subset=['competitionId'], keep='first')
comp_df.head()

   competitionId  rewardQuantity   period
1           4852         30000.0  2016-04
2           5174         20000.0  2016-07
3           5261         50000.0  2016-09
4           5325             1.0  2016-12
5           5340         25000.0  2016-09

In [106]:
comp_df.groupby(by=['period']).count()

            competitionId  rewardQuantity  cat
period
2010-05-01              1               1    1
2010-06-01              1               1    1
2010-08-01              1               1    1
2010-09-01              1               1    1
2010-10-01              1               1    1
2010-11-01              2               2    2
2011-01-01              1               1    1
2011-02-01              3               3    3
2011-03-01              1               1    1
2011-04-01              1               1    1
2011-05-01              2               2    2
2011-08-01              1               1    1
2011-09-01              2               2    2
2011-10-01              2               2    2
2011-11-01              1               1    1
2011-12-01              1               1    1
2012-01-01              2               2    2
2012-02-01              1               1    1
2012-04-01              6               6    6
2012-06-01              5               5    5
2012-07-01              3               3    3
2012-08-01              1               1    1
2012-09-01              8               8    8
2012-10-01              3               3    3
2012-11-01              3               3    3
2012-12-01              2               2    2
2013-01-01              1               1    1
2013-02-01              3               3    3
2013-03-01              1               1    1
2013-04-01              7               7    7
...                   ...             ...  ...
2017-03-01              4               4    4
2017-04-01              4               4    4
2017-06-01              5               5    5
2017-07-01              4               4    4
2017-08-01              2               2    2
2017-09-01              2               2    2
2017-10-01              4               4    4
2017-11-01              4               4    4
2017-12-01              5               5    5
2018-01-01              5               5    5
2018-02-01              5               5    5
2018-03-01              2               2    2
2018-04-01              4               4    4
2018-05-01              5               5    5
2018-06-01              3               3    3
2018-07-01              1               1    1
2018-08-01              7               7    7
2018-09-01              7               7    7
2018-10-01              2               2    2
2018-11-01              3               3    3
2018-12-01              2               2    2
2019-01-01              4               4    4
2019-02-01              5               5    5
2019-03-01              3               3    3
2019-04-01              7               7    7
2019-05-01              2               2    2
2019-06-01              9               9    9
2019-07-01              2               2    2
2019-08-01              4               4    4
2019-09-01              3               3    3

[106 rows x 3 columns]

In [115]:
bins = pd.date_range(start='2010-3-1', end='2019-12-1', freq='6M')
bins

DatetimeIndex(['2010-03-31', '2010-09-30', '2011-03-31', '2011-09-30',
               '2012-03-31', '2012-09-30', '2013-03-31', '2013-09-30',
               '2014-03-31', '2014-09-30', '2015-03-31', '2015-09-30',
               '2016-03-31', '2016-09-30', '2017-03-31', '2017-09-30',
               '2018-03-31', '2018-09-30', '2019-03-31', '2019-09-30'],
              dtype='datetime64[ns]', freq='6M')

In [112]:
comp_df['period'] = pd.to_datetime(comp_df['period'])
comp_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 326 entries, 1 to 123813
Data columns (total 4 columns):
competitionId     326 non-null int64
rewardQuantity    326 non-null float64
period            326 non-null datetime64[ns]
cat               326 non-null category
dtypes: category(1), datetime64[ns](1), float64(1), int64(1)
memory usage: 11.1 KB

In [116]:
comp_df['cat'] = pd.cut(comp_df['period'], bins)
comp_df.head()

   competitionId  rewardQuantity     period                       cat
1           4852         30000.0 2016-04-01  (2016-03-31, 2016-09-30]
2           5174         20000.0 2016-07-01  (2016-03-31, 2016-09-30]
3           5261         50000.0 2016-09-01  (2016-03-31, 2016-09-30]
4           5325             1.0 2016-12-01  (2016-09-30, 2017-03-31]
5           5340         25000.0 2016-09-01  (2016-03-31, 2016-09-30]

In [117]:
comp_df.groupby(by=['cat']).count()

                          competitionId  rewardQuantity  period
cat
(2010-03-31, 2010-09-30]              4               4       4
(2010-09-30, 2011-03-31]              8               8       8
(2011-03-31, 2011-09-30]              6               6       6
(2011-09-30, 2012-03-31]              7               7       7
(2012-03-31, 2012-09-30]             23              23      23
(2012-09-30, 2013-03-31]             13              13      13
(2013-03-31, 2013-09-30]             23              23      23
(2013-09-30, 2014-03-31]             17              17      17
(2014-03-31, 2014-09-30]             20              20      20
(2014-09-30, 2015-03-31]             13              13      13
(2015-03-31, 2015-09-30]             25              25      25
(2015-09-30, 2016-03-31]             19              19      19
(2016-03-31, 2016-09-30]             17              17      17
(2016-09-30, 2017-03-31]             16              16      16
(2017-03-31, 2017-09-30]             17              17      17
(2017-09-30, 2018-03-31]             25              25      25
(2018-03-31, 2018-09-30]             27              27      27
(2018-09-30, 2019-03-31]             19              19      19
(2019-03-31, 2019-09-30]             27              27      27

In [21]:
item_df = item_df.sort_values(by=['name', 'deadline'])
item_df.head(10)

,name,competitionId,deadline,rank,score,rewardQuantity,tier
1,CVxTz,4852,2016-04-18 23:59:00+00:00,1753.0,0.46184,30000.0,expert
2,CVxTz,5174,2016-07-11 23:59:00+00:00,34.0,0.93114,20000.0,expert
5,CVxTz,5340,2016-09-05 23:59:00+00:00,111.0,2.23255,25000.0,expert
3,CVxTz,5261,2016-09-19 23:59:00+00:00,389.0,0.99168,50000.0,expert
4,CVxTz,5325,2016-12-12 23:59:00+00:00,27.0,1112.12520,1.0,expert
8,CVxTz,5977,2017-01-30 23:59:00+00:00,235.0,35987.14716,0.0,expert
7,CVxTz,5874,2017-03-01 23:59:00+00:00,430.0,0.01790,100000.0,expert
6,CVxTz,5590,2017-04-25 23:59:00+00:00,454.0,0.52079,1.0,expert
9,CVxTz,6277,2017-06-06 23:59:00+00:00,73.0,0.14094,25000.0,expert
10,CVxTz,6392,2017-06-29 23:59:00+00:00,408.0,0.31650,25000.0,expert

In [22]:
new_cols = ['previousId', 'previousReward']
pre_cols = ['previousId', 'previousReward', 'rank', 'score', 'tier']
pre_cont_cols = ['rank', 'score', 'rewardQuantity', 'previousReward']

In [24]:
item_df[new_cols] = item_df[['competitionId', 'rewardQuantity']]
item_df.head().T

,1,2,5,3,4
name,CVxTz,CVxTz,CVxTz,CVxTz,CVxTz
competitionId,4852,5174,5340,5261,5325
deadline,2016-04-18 23:59:00+00:00,2016-07-11 23:59:00+00:00,2016-09-05 23:59:00+00:00,2016-09-19 23:59:00+00:00,2016-12-12 23:59:00+00:00
rank,1753,34,111,389,27
score,0.46184,0.93114,2.23255,0.99168,1112.13
rewardQuantity,30000,20000,25000,50000,1
tier,expert,expert,expert,expert,expert
previousId,4852,5174,5340,5261,5325
previousReward,30000,20000,25000,50000,1

In [25]:
item_df[pre_cols] = item_df[pre_cols].shift(periods=1)
item_df.head().T

,1,2,5,3,4
name,CVxTz,CVxTz,CVxTz,CVxTz,CVxTz
competitionId,4852,5174,5340,5261,5325
deadline,2016-04-18 23:59:00+00:00,2016-07-11 23:59:00+00:00,2016-09-05 23:59:00+00:00,2016-09-19 23:59:00+00:00,2016-12-12 23:59:00+00:00
rank,NaN,1753,34,111,389
score,NaN,0.46184,0.93114,2.23255,0.99168
rewardQuantity,30000,20000,25000,50000,1
tier,NaN,expert,expert,expert,expert
previousId,NaN,4852,5174,5340,5261
previousReward,NaN,30000,20000,25000,50000

In [26]:
item_df.tier.value_counts()

novice         125365
contributor     92105
expert          67910
master          26331
grandmaster      7875
staff             280
Name: tier, dtype: int64

In [28]:
first_mask = item_df.duplicated(subset=['name'], keep='first')
item_df['previousId'] = item_df['previousId'].fillna(-1).astype('int64').where(first_mask, -1)
item_df[pre_cont_cols] = item_df[pre_cont_cols].where(first_mask, 0.0)
item_df['tier'] = item_df['tier'].where(first_mask, 'none')
item_df.head().T

,1,2,5,3,4
name,CVxTz,CVxTz,CVxTz,CVxTz,CVxTz
competitionId,4852,5174,5340,5261,5325
deadline,2016-04-18 23:59:00+00:00,2016-07-11 23:59:00+00:00,2016-09-05 23:59:00+00:00,2016-09-19 23:59:00+00:00,2016-12-12 23:59:00+00:00
rank,0,1753,34,111,389
score,0,0.46184,0.93114,2.23255,0.99168
rewardQuantity,0,20000,25000,50000,1
tier,none,expert,expert,expert,expert
previousId,-1,4852,5174,5340,5261
previousReward,0,30000,20000,25000,50000

In [30]:
item_df[~first_mask].head().T

,1,56,64,72,90
name,CVxTz,IHenry,MlTnSf,Sorin1970,a105502518
competitionId,4852,3338,4487,8311,11000
deadline,2016-04-18 23:59:00+00:00,2013-07-31 23:59:00+00:00,2015-10-19 23:59:00+00:00,2018-04-01 23:59:00+00:00,2019-06-03 23:59:00+00:00
rank,0,0,0,0,0
score,0,0,0,0,0
rewardQuantity,0,0,0,0,0
tier,none,none,none,none,none
previousId,-1,-1,-1,-1,-1
previousReward,0,0,0,0,0

In [31]:
item_df[item_df['score'] == np.inf] = 0
item_df[item_df['score'] == np.inf]

Empty DataFrame
Columns: [name, competitionId, deadline, rank, score, rewardQuantity, tier, previousId, previousReward]
Index: []

In [32]:
item_df['tier'] = item_df['tier'].astype('str')

In [33]:
item_df.dtypes

name               object
competitionId       int64
deadline           object
rank              float64
score             float64
rewardQuantity    float64
tier               object
previousId          int64
previousReward    float64
dtype: object

In [34]:
from sklearn.preprocessing import OneHotEncoder, MinMaxScaler

In [35]:
item_encoder = OneHotEncoder(categories='auto', handle_unknown='ignore')
user_encoder = OneHotEncoder(categories='auto', handle_unknown='error')
cat_encoder = OneHotEncoder(categories='auto', handle_unknown='error')
cont_scaler = MinMaxScaler(feature_range=(0, 1))
reward_scaler = MinMaxScaler(feature_range=(0, 1))
cont_names = ['rank', 'score']
cat_names = ['tier']

In [36]:
cont_scaler.fit(item_df[cont_names])

MinMaxScaler(copy=True, feature_range=(0, 1))

In [37]:
cat_encoder.fit(item_df[cat_names])

OneHotEncoder(categorical_features=None, categories='auto', drop=None,
              dtype=<class 'numpy.float64'>, handle_unknown='error',
              n_values=None, sparse=True)

In [38]:
item_encoder.fit(item_df[['competitionId']])

OneHotEncoder(categorical_features=None, categories='auto', drop=None,
              dtype=<class 'numpy.float64'>, handle_unknown='ignore',
              n_values=None, sparse=True)

In [39]:
item_df['name'] = item_df['name'].astype('str')

In [40]:
user_encoder.fit(item_df[['name']])

OneHotEncoder(categorical_features=None, categories='auto', drop=None,
              dtype=<class 'numpy.float64'>, handle_unknown='error',
              n_values=None, sparse=True)

In [41]:
reward_scaler.fit(item_df[['rewardQuantity']])

MinMaxScaler(copy=True, feature_range=(0, 1))

In [42]:
item_encoder.categories_[0].size

326

In [43]:
import scipy.sparse as sp

In [97]:
batch = item_df.sample(n=100)
batch.shape

(100, 9)

In [98]:
user_matrix = user_encoder.transform(batch[['name']])
item_matrix = item_encoder.transform(batch[['competitionId']])
prev_matrix = item_encoder.transform(batch[['previousId']])
cat_matrix = cat_encoder.transform(batch[cat_names])
cont_matrix = sp.csr_matrix(cont_scaler.transform(batch[cont_names]))

In [99]:
feat_matrix = sp.hstack(
    [user_matrix, item_matrix, prev_matrix, cat_matrix, cont_matrix])
feat_matrix

<100x28047 sparse matrix of type '<class 'numpy.float64'>'
	with 732 stored elements in COOrdinate format>

In [80]:
neg_df = comp_df.sample(n=100)
neg_df.head()

       competitionId  rewardQuantity
6539            4571         80000.0
67              9120         70000.0
9193            3618         70000.0
31078           6539             0.0
14173           3163             0.0