In [1]:
%reload_ext autoreload
%autoreload 2
%matplotlib inline

In [2]:
# Go to root directory
%cd ../..

C:\Projects\python\recommender

In [3]:
import json

import numpy as np
import pandas as pd

In [4]:
comp_df = pd.read_json("./inputs/kaggle/competitions.json")
comp_df.head()

,competitionId,competitionName,competitionTitle,deadline,rewardQuantity,rewardTypeName,totalTeams
0,14774,aptos2019-blindness-detection,APTOS 2019 Blindness Detection,2019-09-07T23:59:00Z,50000.0,USD,2943
1,15447,ciphertext-challenge-iii,Ciphertext Challenge III,2019-09-05T23:59:00Z,0.0,Swag,103
2,14652,siim-acr-pneumothorax-segmentation,SIIM-ACR Pneumothorax Segmentation,2019-09-04T23:59:00Z,30000.0,USD,1475
3,14313,champs-scalar-coupling,Predicting Molecular Properties,2019-08-28T23:59:00Z,30000.0,USD,2749
4,15062,generative-dog-images,Generative Dog Images,2019-08-28T19:23:00Z,10000.0,USD,927

In [18]:
leaderboard = []
with open("./inputs/kaggle/leaderboard.json", mode='r', encoding='utf8') as fp:
    leaderboard = json.load(fp)

### Generate team dataframe

In [20]:
comp_team_pair = []

for item in leaderboard:
    comp_id = item['competitionId']
    for team in item['public']:
        team_id = team['teamId']
        members = len(team['members'])
        rank = team['rank']
        entries = team['entries']
        score = team['score']

        comp_team_pair.append({
            'competitonId': comp_id,
            'teamId': team_id,
            'members': members,
            'rank': rank,
            'entries': entries,
            'score': score
        })

    for team in item['private']:
        team_id = team['teamId']
        members = len(team['members'])
        rank = team['rank']
        entries = team['entries']
        score = team['score']

        comp_team_pair.append({
            'competitonId': comp_id,
            'teamId': team_id,
            'members': members,
            'rank': rank,
            'entries': entries,
            'score': score
        })
            
comp_team_pair[:5]

[{'competitonId': 14774,
  'teamId': 3341991,
  'members': 2,
  'rank': 1,
  'entries': 176,
  'score': '0.856139'},
 {'competitonId': 14774,
  'teamId': 3374221,
  'members': 5,
  'rank': 2,
  'entries': 332,
  'score': '0.855232'},
 {'competitonId': 14774,
  'teamId': 3353277,
  'members': 3,
  'rank': 3,
  'entries': 203,
  'score': '0.850749'},
 {'competitonId': 14774,
  'teamId': 3339442,
  'members': 1,
  'rank': 4,
  'entries': 118,
  'score': '0.850352'},
 {'competitonId': 14774,
  'teamId': 3459925,
  'members': 3,
  'rank': 5,
  'entries': 321,
  'score': '0.850220'}]

In [21]:
team_df = pd.DataFrame(comp_team_pair)
team_df.head()

   competitonId  entries  members  rank     score   teamId
0         14774      176        2   1.0  0.856139  3341991
1         14774      332        5   2.0  0.855232  3374221
2         14774      203        3   3.0  0.850749  3353277
3         14774      118        1   4.0  0.850352  3339442
4         14774      321        3   5.0  0.850220  3459925

In [25]:
# Save team dataframe
team_df.to_csv("./inputs/kaggle/team.csv", index=False)

### Generate person dataframe

In [30]:
comp_person_pair = []

for item in leaderboard:
    comp_id = item['competitionId']
    for team in item['public']:
        team_id = team['teamId']
        rank = team['rank']
        entries = team['entries']
        score = team['score']
        
        for m in team['members']:
            comp_person_pair.append({
                'competitonId': comp_id,
                'teamId': team_id,
                'name': m['profileUrl'],
                'tier': m['tier'],
                'rank': rank,
                'entries': entries,
                'score': score
            })
    for team in item['private']:
        team_id = team['teamId']
        rank = team['rank']
        entries = team['entries']
        score = team['score']
        
        for m in team['members']:
            comp_person_pair.append({
                'competitonId': comp_id,
                'teamId': team_id,
                'name': m['profileUrl'],
                'tier': m['tier'],
                'rank': rank,
                'entries': entries,
                'score': score
            })
            
comp_person_pair[:5]

[{'competitonId': 14774,
  'teamId': 3341991,
  'name': 'victorsd',
  'tier': 'grandmaster',
  'rank': 1,
  'entries': 176,
  'score': '0.856139'},
 {'competitonId': 14774,
  'teamId': 3341991,
  'name': 'selimsef',
  'tier': 'master',
  'rank': 1,
  'entries': 176,
  'score': '0.856139'},
 {'competitonId': 14774,
  'teamId': 3374221,
  'name': 'mathormad',
  'tier': 'master',
  'rank': 2,
  'entries': 332,
  'score': '0.855232'},
 {'competitonId': 14774,
  'teamId': 3374221,
  'name': 'ratthachat',
  'tier': 'expert',
  'rank': 2,
  'entries': 332,
  'score': '0.855232'},
 {'competitonId': 14774,
  'teamId': 3374221,
  'name': 'prasertsak',
  'tier': 'expert',
  'rank': 2,
  'entries': 332,
  'score': '0.855232'}]

In [31]:
person_df = pd.DataFrame(data=comp_person_pair)
person_df.head()

   competitonId  entries        name  rank     score   teamId         tier
0         14774      176    victorsd   1.0  0.856139  3341991  grandmaster
1         14774      176    selimsef   1.0  0.856139  3341991       master
2         14774      332   mathormad   2.0  0.855232  3374221       master
3         14774      332  ratthachat   2.0  0.855232  3374221       expert
4         14774      332  prasertsak   2.0  0.855232  3374221       expert

In [32]:
person_df.to_csv('./inputs/kaggle/person.csv', index=False)

### Overview team dataframe

In [26]:
team_counts = team_df.teamId.value_counts()
team_counts.head()

3238511    4
3249165    4
3132230    4
3036021    4
2272362    4
Name: teamId, dtype: int64

In [27]:
team_counts.sort_values().head()

55928     2
119769    2
111573    2
113620    2
99283     2
Name: teamId, dtype: int64

In [29]:
team_counts.size

281794

In [28]:
team_counts[team_counts >= 4].size

21832

### Overview person dataframe

In [5]:
person_df = pd.read_csv("./inputs/kaggle/person.csv")
person_df.head()

   competitionId  entries        name  rank     score   teamId         tier
0          14774      176    victorsd   1.0  0.856139  3341991  grandmaster
1          14774      176    selimsef   1.0  0.856139  3341991       master
2          14774      332   mathormad   2.0  0.855232  3374221       master
3          14774      332  ratthachat   2.0  0.855232  3374221       expert
4          14774      332  prasertsak   2.0  0.855232  3374221       expert

In [6]:
person_df['score'].isna().any()

False

In [7]:
person_df['score'] = person_df['score'].fillna(0)
person_df['score'].isna().any()

False

In [8]:
person_df['score'] = person_df['score'].astype('float64')
person_df.head()

   competitionId  entries        name  rank     score   teamId         tier
0          14774      176    victorsd   1.0  0.856139  3341991  grandmaster
1          14774      176    selimsef   1.0  0.856139  3341991       master
2          14774      332   mathormad   2.0  0.855232  3374221       master
3          14774      332  ratthachat   2.0  0.855232  3374221       expert
4          14774      332  prasertsak   2.0  0.855232  3374221       expert

In [9]:
person_df[person_df['rank'].isna()].shape

(844, 7)

In [10]:
person_df.shape

(693084, 7)

In [13]:
# Get competition dataframe part information
com_part = comp_df[['competitionId', 'deadline', 'rewardQuantity']]
com_part.head()

   competitionId              deadline  rewardQuantity
0          14774  2019-09-07T23:59:00Z         50000.0
1          15447  2019-09-05T23:59:00Z             0.0
2          14652  2019-09-04T23:59:00Z         30000.0
3          14313  2019-08-28T23:59:00Z         30000.0
4          15062  2019-08-28T19:23:00Z         10000.0

In [14]:
com_part.columns

Index(['competitionId', 'deadline', 'rewardQuantity'], dtype='object')

### Generate item dataframe and preprocess

Preprocessing contains following operations:

- fill score nan value to 0
- remove duplicate competitionId and name row

In [15]:
item_df = pd.merge(left=com_part, right=person_df, how='inner', on='competitionId')
item_df.head()

,competitionId,deadline,rewardQuantity,entries,name,rank,score,teamId,tier
0,14774,2019-09-07T23:59:00Z,50000.0,176,victorsd,1.0,0.856139,3341991,grandmaster
1,14774,2019-09-07T23:59:00Z,50000.0,176,selimsef,1.0,0.856139,3341991,master
2,14774,2019-09-07T23:59:00Z,50000.0,332,mathormad,2.0,0.855232,3374221,master
3,14774,2019-09-07T23:59:00Z,50000.0,332,ratthachat,2.0,0.855232,3374221,expert
4,14774,2019-09-07T23:59:00Z,50000.0,332,prasertsak,2.0,0.855232,3374221,expert

#### Remove duplicated data

In [16]:
item_df = item_df.sort_values(by=['name', 'competitionId'])
item_df.head()

,competitionId,deadline,rewardQuantity,entries,name,rank,score,teamId,tier
472250,6392,2017-06-29T23:59:00Z,25000.0,20,Atishj,1813.0,0.32326,649770,novice
475968,6392,2017-06-29T23:59:00Z,25000.0,20,Atishj,1862.0,0.32624,649770,novice
589489,4852,2016-04-18T23:59:00Z,30000.0,3,CVxTz,1778.0,0.46338,275941,expert
592747,4852,2016-04-18T23:59:00Z,30000.0,3,CVxTz,1753.0,0.46184,275941,expert
554000,5174,2016-07-11T23:59:00Z,20000.0,56,CVxTz,34.0,0.93153,331480,expert

In [17]:
item_dup_mask = item_df.duplicated(subset=['name', 'competitionId'], keep='first')
item_dup_mask.head()

472250    False
475968     True
589489    False
592747     True
554000    False
dtype: bool

In [18]:
item_df = item_df[item_dup_mask]
item_df.head()

,competitionId,deadline,rewardQuantity,entries,name,rank,score,teamId,tier
475968,6392,2017-06-29T23:59:00Z,25000.0,20,Atishj,1862.0,0.32624,649770,novice
592747,4852,2016-04-18T23:59:00Z,30000.0,3,CVxTz,1753.0,0.46184,275941,expert
554627,5174,2016-07-11T23:59:00Z,20000.0,56,CVxTz,34.0,0.93114,331480,expert
534581,5261,2016-09-19T23:59:00Z,50000.0,14,CVxTz,389.0,0.99168,366212,expert
521892,5325,2016-12-12T23:59:00Z,1.0,89,CVxTz,27.0,1112.12520,391400,expert

In [19]:
item_df['deadline'] = pd.to_datetime(item_df['deadline'], infer_datetime_format=True)
item_df.dtypes

competitionId                   int64
deadline          datetime64[ns, UTC]
rewardQuantity                float64
entries                         int64
name                           object
rank                          float64
score                         float64
teamId                          int64
tier                           object
dtype: object

In [20]:
### Change columns order
item_df = item_df[[
    'name', 'competitionId', 'deadline', 'entries', 'rank', 'score',
    'rewardQuantity', 'teamId', 'tier'
]]
item_df.head()

,name,competitionId,deadline,entries,rank,score,rewardQuantity,teamId,tier
475968,Atishj,6392,2017-06-29 23:59:00+00:00,20,1862.0,0.32624,25000.0,649770,novice
592747,CVxTz,4852,2016-04-18 23:59:00+00:00,3,1753.0,0.46184,30000.0,275941,expert
554627,CVxTz,5174,2016-07-11 23:59:00+00:00,56,34.0,0.93114,20000.0,331480,expert
534581,CVxTz,5261,2016-09-19 23:59:00+00:00,14,389.0,0.99168,50000.0,366212,expert
521892,CVxTz,5325,2016-12-12 23:59:00+00:00,89,27.0,1112.12520,1.0,391400,expert

In [21]:
item_df.to_csv("./inputs/kaggle/item.csv", index=False)

## DataFrame preprocessing

In [71]:
item_df = pd.read_csv("./inputs/kaggle/item.csv")
item_df.head()

,name,competitionId,deadline,entries,rank,score,rewardQuantity,teamId,tier
0,Atishj,6392,2017-06-29 23:59:00+00:00,20,1862.0,0.32624,25000.0,649770,novice
1,CVxTz,4852,2016-04-18 23:59:00+00:00,3,1753.0,0.46184,30000.0,275941,expert
2,CVxTz,5174,2016-07-11 23:59:00+00:00,56,34.0,0.93114,20000.0,331480,expert
3,CVxTz,5261,2016-09-19 23:59:00+00:00,14,389.0,0.99168,50000.0,366212,expert
4,CVxTz,5325,2016-12-12 23:59:00+00:00,89,27.0,1112.12520,1.0,391400,expert

In [72]:
item_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 476244 entries, 0 to 476243
Data columns (total 9 columns):
name              476244 non-null object
competitionId     476244 non-null int64
deadline          476244 non-null object
entries           476244 non-null int64
rank              475615 non-null float64
score             476244 non-null float64
rewardQuantity    430559 non-null float64
teamId            476244 non-null int64
tier              476244 non-null object
dtypes: float64(3), int64(3), object(3)
memory usage: 32.7+ MB

In [73]:
item_df = item_df[['name', 'competitionId', 'deadline', 'rank', 'score', 'tier']]
item_df.head()

,name,competitionId,deadline,rank,score,tier
0,Atishj,6392,2017-06-29 23:59:00+00:00,1862.0,0.32624,novice
1,CVxTz,4852,2016-04-18 23:59:00+00:00,1753.0,0.46184,expert
2,CVxTz,5174,2016-07-11 23:59:00+00:00,34.0,0.93114,expert
3,CVxTz,5261,2016-09-19 23:59:00+00:00,389.0,0.99168,expert
4,CVxTz,5325,2016-12-12 23:59:00+00:00,27.0,1112.12520,expert

In [74]:
item_df['deadline'] = pd.to_datetime(item_df['deadline'],
                                     infer_datetime_format=True)
item_df.dtypes

name                          object
competitionId                  int64
deadline         datetime64[ns, UTC]
rank                         float64
score                        float64
tier                          object
dtype: object

In [75]:
item_df.isna().any()

name             False
competitionId    False
deadline         False
rank              True
score            False
tier             False
dtype: bool

In [76]:
print(f"Previous item shape {item_df.shape}")

Previous item shape (476244, 6)

In [77]:
item_df = item_df.dropna()
print(f"Drop nan value shape: {item_df.shape}")

Drop nan value shape: (475615, 6)

In [78]:
comp_counts = item_df['competitionId'].value_counts()
name_counts = item_df['name'].value_counts()

print(f"competition number {comp_counts.size}")
print(f"competitor  number {name_counts.size}")

competition number 326
competitor  number 151504

In [79]:
comp_counts.sort_values().head()

3525     7
3194    13
3077    15
2408    25
2549    27
Name: competitionId, dtype: int64

In [80]:
name_counts = name_counts[name_counts>=4]
print(f"filter competitor number {name_counts.size}")

filter competitor number 30870

In [81]:
item_df = item_df[item_df['name'].isin(name_counts.index)]
item_df.shape

(319868, 6)

In [82]:
item_df = item_df.sort_values(by=['name', 'deadline'])
item_df.head(10)

,name,competitionId,deadline,rank,score,tier
1,CVxTz,4852,2016-04-18 23:59:00+00:00,1753.0,0.46184,expert
2,CVxTz,5174,2016-07-11 23:59:00+00:00,34.0,0.93114,expert
5,CVxTz,5340,2016-09-05 23:59:00+00:00,111.0,2.23255,expert
3,CVxTz,5261,2016-09-19 23:59:00+00:00,389.0,0.99168,expert
4,CVxTz,5325,2016-12-12 23:59:00+00:00,27.0,1112.12520,expert
8,CVxTz,5977,2017-01-30 23:59:00+00:00,235.0,35987.14716,expert
7,CVxTz,5874,2017-03-01 23:59:00+00:00,430.0,0.01790,expert
6,CVxTz,5590,2017-04-25 23:59:00+00:00,454.0,0.52079,expert
9,CVxTz,6277,2017-06-06 23:59:00+00:00,73.0,0.14094,expert
10,CVxTz,6392,2017-06-29 23:59:00+00:00,408.0,0.31650,expert

In [83]:
item_df['previousId'] = item_df['competitionId']
item_df.head()

,name,competitionId,deadline,rank,score,tier,previousId
1,CVxTz,4852,2016-04-18 23:59:00+00:00,1753.0,0.46184,expert,4852
2,CVxTz,5174,2016-07-11 23:59:00+00:00,34.0,0.93114,expert,5174
5,CVxTz,5340,2016-09-05 23:59:00+00:00,111.0,2.23255,expert,5340
3,CVxTz,5261,2016-09-19 23:59:00+00:00,389.0,0.99168,expert,5261
4,CVxTz,5325,2016-12-12 23:59:00+00:00,27.0,1112.12520,expert,5325

In [84]:
item_df['previousId'] = item_df['previousId'].shift(
    periods=1).fillna(0).astype('int64')
item_df.head()

,name,competitionId,deadline,rank,score,tier,previousId
1,CVxTz,4852,2016-04-18 23:59:00+00:00,1753.0,0.46184,expert,0
2,CVxTz,5174,2016-07-11 23:59:00+00:00,34.0,0.93114,expert,4852
5,CVxTz,5340,2016-09-05 23:59:00+00:00,111.0,2.23255,expert,5174
3,CVxTz,5261,2016-09-19 23:59:00+00:00,389.0,0.99168,expert,5340
4,CVxTz,5325,2016-12-12 23:59:00+00:00,27.0,1112.12520,expert,5261

In [85]:
# Organzied columns
item_df = item_df[[
    'name', 'competitionId', 'previousId', 'deadline', 'rank', 'score', 'tier'
]]
item_df.head()

,name,competitionId,previousId,deadline,rank,score,tier
1,CVxTz,4852,0,2016-04-18 23:59:00+00:00,1753.0,0.46184,expert
2,CVxTz,5174,4852,2016-07-11 23:59:00+00:00,34.0,0.93114,expert
5,CVxTz,5340,5174,2016-09-05 23:59:00+00:00,111.0,2.23255,expert
3,CVxTz,5261,5340,2016-09-19 23:59:00+00:00,389.0,0.99168,expert
4,CVxTz,5325,5261,2016-12-12 23:59:00+00:00,27.0,1112.12520,expert

In [93]:
first_mask = item_df.duplicated(subset=['name'], keep='first')
item_df['previousId'] = item_df['previousId'].where(first_mask, -1)
item_df.head()

,name,competitionId,previousId,deadline,rank,score,tier
1,CVxTz,4852,-1,2016-04-18 23:59:00+00:00,1753.0,0.46184,expert
2,CVxTz,5174,4852,2016-07-11 23:59:00+00:00,34.0,0.93114,expert
5,CVxTz,5340,5174,2016-09-05 23:59:00+00:00,111.0,2.23255,expert
3,CVxTz,5261,5340,2016-09-19 23:59:00+00:00,389.0,0.99168,expert
4,CVxTz,5325,5261,2016-12-12 23:59:00+00:00,27.0,1112.12520,expert

In [96]:
item_df['score'] = item_df['score'].where(item_df['score'] != np.inf, 0)
item_df.head()

,name,competitionId,previousId,deadline,rank,score,tier
1,CVxTz,4852,-1,2016-04-18 23:59:00+00:00,1753.0,0.46184,expert
2,CVxTz,5174,4852,2016-07-11 23:59:00+00:00,34.0,0.93114,expert
5,CVxTz,5340,5174,2016-09-05 23:59:00+00:00,111.0,2.23255,expert
3,CVxTz,5261,5340,2016-09-19 23:59:00+00:00,389.0,0.99168,expert
4,CVxTz,5325,5261,2016-12-12 23:59:00+00:00,27.0,1112.12520,expert

In [97]:
item_df[item_df['score'] == np.inf]

Empty DataFrame
Columns: [name, competitionId, previousId, deadline, rank, score, tier]
Index: []

In [98]:
from sklearn.preprocessing import OneHotEncoder, MinMaxScaler

In [102]:
item_encoder = OneHotEncoder(categories='auto', handle_unknown='ignore')
user_encoder = OneHotEncoder(categories='auto', handle_unknown='error')
cat_encoder = OneHotEncoder(categories='auto', handle_unknown='error')
cont_scaler = MinMaxScaler(feature_range=(0, 1))
cont_names = ['rank', 'score']
cat_names = ['tier']

In [103]:
cont_scaler.fit(item_df[cont_names])
cat_encoder.fit(item_df[cat_names])

OneHotEncoder(categorical_features=None, categories='auto', drop=None,
              dtype=<class 'numpy.float64'>, handle_unknown='error',
              n_values=None, sparse=True)

In [104]:
item_encoder.fit(item_df[['competitionId']])
user_encoder.fit(item_df[['name']])

OneHotEncoder(categorical_features=None, categories='auto', drop=None,
              dtype=<class 'numpy.float64'>, handle_unknown='error',
              n_values=None, sparse=True)

In [105]:
import scipy.sparse as sp

In [109]:
batch = item_df.sample(n=100)
batch.shape

(100, 7)

In [114]:
user_matrix = user_encoder.transform(batch[['name']])
item_matrix = item_encoder.transform(batch[['competitionId']])
prev_matrix = item_encoder.transform(batch[['previousId']])
cat_matrix = cat_encoder.transform(batch[cat_names])
cont_matrix = sp.csr_matrix(cont_scaler.transform(batch[cont_names]))

In [115]:
feat_matrix = sp.hstack(
    [user_matrix, item_matrix, prev_matrix, cat_matrix, cont_matrix])
feat_matrix

<100x31530 sparse matrix of type '<class 'numpy.float64'>'
	with 595 stored elements in COOrdinate format>