In [1]:
%reload_ext autoreload
%autoreload 2
%matplotlib inline

In [2]:
from pathlib import Path

import pandas as pd
import numpy as np

In [5]:
rating_path = Path('../inputs/ml-100k/u.data')

In [9]:
rating_df = pd.read_csv(rating_path, sep="\t",
                        names=['userId', 'movieId', 'rating', 'timestamp'],
                        engine="python")

In [14]:
labels = rating_df['rating'].unique()
labels

array([3, 1, 2, 4, 5], dtype=int64)

In [11]:
rating_df.head()

   userId  movieId  rating  timestamp
0     196      242       3  881250949
1     186      302       3  891717742
2      22      377       1  878887116
3     244       51       2  880606923
4     166      346       1  886397596

In [12]:
from tensorflow import keras

In [16]:
keras.utils.to_categorical(labels - 1,
                           num_classes=labels.size)

array([[0., 0., 1., 0., 0.],
       [1., 0., 0., 0., 0.],
       [0., 1., 0., 0., 0.],
       [0., 0., 0., 1., 0.],
       [0., 0., 0., 0., 1.]], dtype=float32)